<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Who are we? Why choose us?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted" style="text-align: justify;">We are a group of startup veterans, accountants, product managers and engineers with more than 10 years of experience.<br> 

                        We understand it is an uphill battle when starting a company (probably steeper than our logo &#128516;). Trust us, we have started a few ourselves, some failed some succeeded. 
                        
                        And we wondered why there was no accounting firm started to help the startup community itself? <br>So here we are, we specifically incorporated this company to give the necessary support a startup needs at the initial stages, all the way through its growth phase. 
                        
                        We give advice on tax, grants (that most startups overlook) or even sharing new venture and management experiences, well, <b>for FREE</b>.<br>
                        
                        Hit us up for a coffee!
                        </p>
                </div>
            </div>
        </div>
    </section>