  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy;2019-2023, WER1 PTE. LTD. (201911879N) All rights reserved</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://ajar-cloudberry-4a0.notion.site/WER1-PTE-LTD-df01e886e2334270841a1c3473bd1c34" target="_blank" rel="noopener noreferrer">Data Protection Policy</a>
                        </li>
                        <!-- <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
