<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted" style="text-align: justify;">We have extensive experience and proven track-records in accounting, tax and scretarial services. Our goal is to help our clients optimize and enhance their business.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse" style="font-size: 4.5rem; margin-left:0.1rem"></i>
                    </span>
                    <h4 class="service-heading">Accounting</h4>
                    <p class="text-muted">• Bookkeeping & Accounting Services</p>
                    <p class="text-muted">• Compilation of Non-Audit Financial Statements</p>
                    <p class="text-muted">• Accounting Software Setup, Support & Training</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse" style="font-size: 4.5rem; margin-left:0.1rem"></i>
                    </span>
                    <h4 class="service-heading">Tax</h4>
                    <p class="text-muted">• Company Income Tax</p>
                    <p class="text-muted">• Personal Income Tax</p>
                    <p class="text-muted">• Goods & Service Tax</p>
                    <p class="text-muted">• Submission of Employees' Income</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse" style="font-size: 4.5rem; margin-left:0.1rem"></i>
                    </span>
                    <h4 class="service-heading">Corporate</h4>
                    <p class="text-muted">• Company Incorporation</p>
                    <p class="text-muted">• Routine Secretarial Filing</p>
                    <p class="text-muted">• XBRL Financial Report Services</p>
                    <p class="text-muted">• Nominee Director Services</p>
                    <p class="text-muted">• Striking Off of Company & Liquidation</p>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse" style="font-size: 5rem; margin-left:0.5rem"></i>
                    </span>
                    <h4 class="service-heading">Others</h4>
                    <p class="text-muted">• Registration of Corppass Account</p>
                    <p class="text-muted">• Payroll Services</p>
                    <p class="text-muted">• Application of Workpass</p>
                    <p class="text-muted">• Drafting Company Legal Document & Contract</p>
                    <p class="text-muted">• Grant & Loan Advisory</p>
                    <p class="text-muted">• Insurance Advisory</p>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
